{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}

{% if messages%}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
            <small><sup>[x]</sup></small>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<br/>
    {% if items %}
    <table class="table table-bordered">
        {% for list_item in items %}
            {% if list_item.completed %}
                <tr class="table-secondary">
                    <td class="cross"><a href="{% url 'edit' list_item.id %}">{{ list_item.item }}</a></td>
                    <td><center><a href="{% url 'check_on' list_item.id %}">[o]</a></center></td>
                    <td><center><button type="button" class="btn btn-light btn-sm"><a href="{% url 'delete' list_item.id %}">Delete</a></button></center></td>
                </tr>
            {% else %}
                <tr>
                    <td><a href="{% url 'edit' list_item.id %}">{{ list_item.item}}</a></td>
                    <td><center><a href="{% url 'check_off' list_item.id %}">[x]</a></center></td>
                    <td><center><button type="button" class="btn btn-light btn-sm"><a href="{% url 'delete' list_item.id %}">Delete</a></button></center></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}


{% endblock %}